<form class="admintool" method="post" action="/ops/collections/management/create-collection">
  <fieldset>
    <legend>Profile Name</legend>
    <div>
      <label for="name">Profile Name</label>
      <input type="text" id="name" name="name" size="40"/>
    </div>
  </fieldset>
  <fieldset>
    <legend>Collection Attributes</legend>
    <div><em>The Collection Admin object will have a default Merritt system owner.</em></div>
    <div>
      <label for="owner">Collection Content Owner</label>
      <select id="owner" name="owner">
        <% owners.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="public">Public</label>
      <input type="checkbox" id="public" name="public">
    </div>
    <div>
      <label for="description">Profile Description</label>
      <input type="text" id="description" name="description" size="80"/>
    </div>
    <div>
      <label for="mnemonic">Mnemonic</label>
      <input type="text" id="mnemonic" name="mnemonic" value="" size="30"/>
    </div>
  </fieldset>
  <fieldset>
    <legend>Ingest Profile Attributes</legend>
    <div>
      <label for="primarynode">Primary Storage Node</label>
      <select id="primarynode" name="primarynode">
        <option value=""></option>
        <% nodes.each do |key, value| %>
          <option value="<%= key %>"><%= value %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="notifyselect">Copy Notifications from</label>
      <select id="notifyselect" name="notifyselect">
        <option value=""></option>
        <% notifications.each do |key, value| %>
          <option value="<%= value %>"><%= key %></option>
        <% end %>
      </select>
    </div>
    <div>
      <label for="notifications">Notification Emails</label>
      <textarea id="notifications" name="notifications" rows="4" cols="80"></textarea>
    </div>
  </fieldset>
  <input type="submit" value="Create Collection">
</form>

<script type="text/javascript">
  $(document).ready(function() {
    $('#notifyselect').change(function() {
      var selected = $(this).val();
      if (selected) {
        $('#notifications').val(selected);
      }
    });
  });
</script>