<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <style type="text/css">
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black !important;
      padding: 2px;
    }
    </style>
  </head>
  <body>
    <div>
      <h1>Git: <%= git.repo %></h1>
      <div><a href="/">Home</a></div>
      <hr/>
      <div>
        <table>
          <thead>
            <tr>
              <th>tag</th>
              <th>semantic</th>
              <th>sha</th>
            </tr>
          </thead>
          <tbody>
            <% git.tags.values.each do |tag|%>
            <tr>
              <td><%=tag[:name]%></td>
              <td><%=tag[:semantic]%></td>
              <td><a href="<%=tag[:url]%>"><%=tag[:sha]%></a></td>
            </tr>
            <% end %>
          </tbody>  
      </div>
    </div>
  </body>
</html>