<html>
  <head>
    <link rel="icon" href="/favicon.ico" />
    <style type="text/css">
    table {
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid black !important;
      padding: 2px;
    }
    th.message, td.message {
      width: 200px;
    }
    th.date, td.date {
      width: 180px;
    }
    tr.semantic th, tr.semantic td {
      background-color: yellow;
    }
    </style>
  </head>
  <body>
    <div>
      <h1>Git: <%= git.repo %></h1>
      <div><a href="/">Home</a></div>
      <hr/>
      <div>
        <table>
          <thead>
            <tr>
              <th class='tag'>tag</th>
              <th class='sha'>sha</th>
              <th class='message'>message</th>
              <th class='author'>author</th>
              <th class='date'>date</th>
              <th class='release'>documented release</th>
              <th class='artifacts'>artifacts</th>
              <th class='images'>images</th>
              <th class='actions'>actions</th>
            </tr>
          </thead>
          <tbody>
            <% git.tags.values.each do |tag|%>
            <tr class="<%=tag[:semantic] ? 'semantic' : 'other'%>">
              <td class='tag'><%=tag[:name]%></td>
              <td class='sha'><a href="<%=tag[:url]%>"><%=tag[:sha]%></a></td>
              <td class='message'><%=tag[:message]%></td>
              <td class='author'><%=tag[:author]%></td>
              <td class='date'><%=tag[:date]%></td>
              <td class='release'>
                <% if !tag[:release_url].empty? %>
                <a href="<%= tag[:release_url] %>">
                <% end %>
                  <%= tag[:release_name] %>
                <% if !tag[:release_url].empty? %>
                </a>
                <% end %>
              </td>
              <td class='artifacts'>tbd</td>
              <td class='images'>tbd</td>
              <td class='actions'>
                <% if !tag[:has_release] %>
                <button>TBD</button>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>  
      </div>
    </div>
  </body>
</html>