<html>
  <head>
    <meta charset="utf-8"/>
    <script	src="//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css"></link>
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/admintool.css" />
    <link rel="stylesheet" type="text/css" href="/navmenu.css" />
    <link rel="stylesheet" type="text/css" href="<%= context.class.css %>"/>
    <script src="/admintool.js"></script>
    <script src="/navmenu.js"></script>
    <script src="/sorttable.js"></script>
    <title><%= context.title %></title>
  </head>
  <body>
    <div class="menu">
      <%= AdminUI::TopMenu.instance.render %>
    </div>
    <div style="clear:both"></div>
    <h1><%= context.title %></h1>
    <div class="breadcrumb">
      <% context.breadcrumbs.each do |bc| %>
      <span>/ <a href="<%= bc[:url] %>"><%= bc[:title] %></a></span>
      <% end %>
      <span>/ <%= context.title %></span>
    </div>
    <div class="main">
      <div class="description">
        <%= context.description %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>