<div>
<fieldset>
  <legend>Review States</legend>
  <a href="/ops/storage/scan/review?node_number=<%= node_number %>">All</a>
  <a href="/ops/storage/scan/review-state?node_number=<%= node_number %>&status=delete">Delete</a>
  <a href="/ops/storage/scan/review-state?node_number=<%= node_number %>&status=review">Review</a>
  <a href="/ops/storage/scan/review-state?node_number=<%= node_number %>&status=hold">Hold</a>
</fieldset>
<fieldset>
  <legend>Review Actions</legend>
  <% if status != 'delete' %>
  <form method="POST" action="/queries-update/storage-maints/batch-update-status">
    <input type="hidden" name="status" value="delete">
    <input type="hidden" name="idlist" value="" id="delete_ids">
    <input type="submit" value="Mark Page for Delete"/>
  </form>
  <% end %>
  <% if status != 'review' %>
  <form method="POST" action="/queries-update/storage-maints/batch-update-status">
    <input type="hidden" name="status" value="review">
    <input type="hidden" name="idlist" value="" id="review_ids">
    <input type="submit" value="Mark Page for Review"/>
  </form>
  <% end %>
  <% if status != 'hold' %>
  <form method="POST" action="/queries-update/storage-maints/batch-update-status">
    <input type="hidden" name="status" value="hold">
    <input type="hidden" name="idlist" value="" id="hold_ids">
    <input type="submit" value="Mark Page for Hold"/>
  </form>
  <% end %>
  <% if status == 'delete' %>
  <form method="POST" action="#">
    <input type="submit" value="Process Deletions" class="button_red"/>
  </form>
  <% end %>
  <% if status.empty? %>
  <form method="GET" action="/ops/storage/scan/csvfile">
    <input type="hidden" name="admintoolformat" value="csv">
    <input type="hidden" name="node_number" value="<%= node_number %>">
    <input type="submit" value="Download Review List as CSV"/>
  </form>
  <input id="applycsv" data="<%= node_number %>" type="button" value="Apply Review Changes from CSV"/>
  <% end %>
</fieldset>
</div>
<div class='tablewrap'>
  <%= table.render %>
</div>
<script type="text/javascript">
  async function apply_csv_changes(nodenum) {
    var [fileHandle] = await window.showOpenFilePicker();
    const file = await fileHandle.getFile();
    const contents = await file.text();
    $.ajax({
      dataType: "json",
      method: "POST",
      contentType: "text/plain; charset=utf-8",
      url: '/ops/storage/scan/applycsv',
      data: contents,
      success: successHandler,
      error: errorHandler
    });  
  }

  $(document).ready(function() {
    var arr = [];
    $("tr.data th.maint_id").each(function(){
      arr.push($(this).text());
    });
    $("#delete_ids").val(arr.join(","));
    $("#hold_ids").val(arr.join(","));
    $("#review_ids").val(arr.join(","));

    $("#applycsv").on('click', function(){
      apply_csv_changes($(this).attr('data'));
    });
  })
</script>  